* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  padding: 0;
  margin: 0;
}
body {
  font-family: "Nunito Sans", sans-serif;
}
main {
  /* display: flex; */
}
.store-list {
  width: 25%;
  height: 100vh;
  overflow: auto;
  background: whitesmoke;
}
#map {
  min-height: 100vh;
  width: 100%;
}
.store-list .heading {
  background: #ff6900;
  color: #fff;
}
.store-list .heading h2 {
  padding: 1rem;
}
::-webkit-scrollbar {
  width: 3px;
  height: 3px;
  border-left: 0;
  background: rgba(0, 0, 0, 0.1);
}
::-webkit-scrollbar-thumb {
  background: #ff6900;
  border-radius: 0;
}
.store-list ul.list {
  padding: 0 1rem;
  list-style-type: none;
}
.store-list .shop-item {
  margin: 1rem 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 1rem;
}
.store-list li:last-child .shop-item {
  border: none;
}
.store-list .shop-item a {
  text-decoration: none;
  font-size: 20px;
  color: #ff6900;
  font-weight: 700;
}
.store-list .shop-item p {
  font-size: 14px;
  color: #404040;
}
/* .leaflet-popup {
  width: 100% !important;
  height: 100% !important;
} */
.leaflet-popup-content-wrapper {
  padding: 0;
  overflow: hidden;
}
.leaflet-popup-content-wrapper .leaflet-popup-content {
  margin: 0;
}
.leaflet-popup-content-wrapper h4 {
  padding: 16px;
  background: #ff6804;
  color: #fff;
  font-size: 16px;
}
.leaflet-popup-content-wrapper p {
  padding: 0 16px;
  font-size: 14px;
  margin-bottom: 14px;
}
.leaflet-popup-content-wrapper .leaflet-popup-content .phone-number {
  padding: 16px;
  padding-top: 0;
}
.leaflet-popup-content-wrapper .leaflet-popup-content .phone-number a {
  color: #ff6808;
  font-size: 14px;
}

.modal {
  width: 100%;
  height: 100%;
  background-color: #000;

  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  justify-content: center;
  align-items: center;
  color: white;
}
.show {
  display: flex;
}
.close {
  position: absolute;
  top: 20px;
  font-size: 20px;
  right: 20px;
  color: white;
  cursor: pointer;
}

/* Quandrant */
.quadrant {
  width: 100%;
  min-height: 100vh;
  background-color: black;
  position: relative;
  z-index: 9;
}
.quadrant-arrow-vertical {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
  padding: 8px 0px;
}
.quadrant-arrow-vertical h3 {
  color: white;
}
.quadrant-arrow-vertical-line {
  background-color: white;
  height: 95%;
  width: 2px;
}

.quadrant-arrow-horizontal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 90%;

  transform: translateY(50%);
  transform: translateX(-50%);
  height: max-content;
  display: flex;

  align-items: center;
  column-gap: 10px;
  padding: 0px 8px;
}
.quadrant-arrow-horizontal h3 {
  color: white;
}
.quadrant-arrow-horizontal-line {
  background-color: white;
  height: 2px;
  width: 95%;
}

.quadrant .quadrant-row {
  width: 100%;
  height: 50vh;
  display: flex;
  padding: 40px 0px;
  justify-content: center;
}
.quadrant-row .quadrant-box {
  width: 45%;
  height: 100%;
  display: flex;
}
.quadrant .quadrant-row h4 {
  color: white;
  border: 1px solid green;
  padding: 4px 9px;
  width: max-content;
  font-weight: 700;
  font-size: 30px;
  height: 45px;
}

.quadrant-row .quadrant-box {
  display: flex;
  position: relative;
}
.quadrant-row .quadrant-box:last-child {
  justify-content: flex-end;
}

.quadrant-row-below .quadrant-box {
  align-items: flex-end;
}

.quadrant .quadrant-box img {
  width: 50px;
  height: 50px;
  position: absolute;
}
.quadrant .quadrant-box .img1 {
  top: 20%;
  left: 10%;
}
.quadrant .quadrant-box .img2 {
  top: 50%;
  left: 30%;
}
.quadrant .quadrant-box .img3 {
  top: 50%;
  left: 50%;
}
.quadrant .quadrant-box .img4 {
  top: 50%;
  left: 70%;
}
.quadrant .quadrant-box .img5 {
  top: 20%;
  left: 20%;
}
.quadrant .quadrant-box .img6 {
  top: 30%;
  left: 80%;
}
.quadrant .quadrant-box .img7 {
  top: 20%;
  left: 50%;
}

.hidden {
  display: none;
}

.change-type {
  position: fixed;
  bottom: 0px;
  left: 0px;
  /* background-color: white; */
  z-index: 999;
  height: 40px;
  width: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.change-type button {
  padding: 8px 10px;
  border-radius: 10px;
  background-color: #ff6804;
  outline: none;
  color: white;
  border: 0;
}
