#imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.modalImage {
  width: 200px; /* Initial width */
  height: 200px;
  transition: all 0.3s linear;
  z-index: 999999;
}

.hidden {
  display: none;
}
