/* .container {
  position: relative;
  overflow: hidden;
}
.perspective {
  width: 100vw;
  height: 100vh;
  background: none;
  position: fixed;
  perspective: 200px;
}
.perspective--is-fixed {
  position: fixed;
  top: 0;
  left: 0;
}
.caption {
  color: #000;
  font-size: 1rem;
  text-align: center;
  padding-top: 20px;
}
p {
  color: #000;
  text-align: left;
}
.zoom {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
}
video {
  position: relative;
  width: 45%;
  box-shadow: 26px 33px 121px 0 rgba(119, 0, 0, 0.4);
}
img {
  position: relative;
  width: 45%;
  box-shadow: 26px 33px 121px 0 rgba(119, 0, 0, 0.4);
}
.right {
  float: right;
}
.image {
  position: absolute;
  text-align: center;
}
.image:nth-child(1) {
  width: 100vw;
  height: 100vh;
  transform: translate3d(1vw, 1vh, -200px);
}
.image:nth-child(2) {
  width: 100vw;
  height: 100vw;
  transform: translate3d(2vw, 6vh, -1700px);
}
.image:nth-child(3) {
  width: 100vw;
  height: 100vw;
  transform: translate3d(0vw, 6vh, -3723px);
}
.image:nth-child(4) {
  width: 100vw;
  height: 100vw;
  transform: translate3d(7vw, 13vh, -4835px);
}
.image:nth-child(5) {
  width: 100vw;
  height: 100vw;
  transform: translate3d(10vw, -1vh, -6791px);
} */

/* #imageContainer {
  width: 100%;
  height: 400px; 
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

#modalImage {
  display: block;
  width: 100%;
  height: auto;
  transition: transform 0.2s ease-in-out;
} */

#imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.modalImage {
  width: 200px; /* Initial width */
  height: 200px;
  transition: all 0.3s linear;
  z-index: 999999;
}

.hidden {
  display: none;
}
